@success-bg: #D8F2D4;
@success-color: #3A773A;
@success-border: 1px solid #C3DABF;
@success-x-color: #6DA89C;
@success-x-hover-color: #448074;
@success-icon-color: #42AA31;

@error-bg: #FFDFE0;
@error-color: #853432;
@error-border: 1px solid #FBCDCE;
@error-x-color: #853432;
@error-x-hover-color: #7B2624;
@error-icon-color: #FF5243;

@small-font-size: 12px;
@large-font-size: 16px;

@selector: message;

.@{selector} {
	position: fixed;
	max-height: 100%;
	overflow-y: auto;
	z-index: 1400;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	.notice {
		display: inline-flex;
		width: 450px;
		line-height: 18px;
		border-radius: 2px;
		overflow: hidden;
		font-size: @small-font-size;
		padding: 8px 14px 7px 20px;
		margin-top: 1px;
		box-sizing: border-box;
		transform: translateY(-35%);
		opacity: 0;
		transition: .3s;
		p {
			margin: 0 19px 0 6px;
		}
	}
	.animation {
		opacity: 1;
		transform: translateY(0);
	}
	.disappear {
		opacity: 0;
		transform: scale(0.95);
	}
	.close-icon {
		position: absolute;
		right: 10px;
		font-size: @small-font-size;
		cursor: pointer;
		opacity: .6;
		margin-left: 20px
	}
	.success-msg {
		background: @success-bg;
		border: @success-border;
		.msg-text {
			color: @success-color;
		}
		.close-icon {
			color: @success-x-color;
			&:hover {
				color: @success-x-hover-color;
			}
		}
		.tag-icon {
			color: @success-icon-color;
		}

	}

	.error-msg {
		background: @error-bg;
		border: @error-border;
		.msg-text {
			color: @error-color;
		}
		.close-icon {
			color: @error-x-color;
			&:hover {
				color: @error-x-hover-color;
			}
		}
		.tag-icon {
			color: @error-icon-color;
		}
	}
}


